.userhome {
  display: none;

}
/* */
.creamazzo {
  display: none;

}

.risultati {
  display: none;

}

.pageview {
  padding-top: 70px;
}

.logout-form {
  display: none;
}

.register {
  display: none;
}
.battaglia {
  display: none;

}

.money {
  background-image: url('/./img/barra-oro.png');
  margin: 0px;
  background-repeat: no-repeat;
  width: 256px;
  height: 45px;
  line-height: 60px;
}

.esperienza {
  background-image: url('/./img/barra-esperienza.png');
  margin: 0px;
  background-repeat: no-repeat;
  line-height: 57px;
  width: 256px;
  height: 45px;

}

.level {
  background-image: url('/./img/livello.png');
  margin: 0px;
  background-repeat: no-repeat;
  color: #FFFFFF;
  line-height: 110px;
  width: 128px;
  height: 128px;
}

.trofei {
  background-image: url('/./img/trofei.png');
  margin: 0px;
  background-repeat: no-repeat;

  line-height: 260px;
  width: 128px;
  height: 128px;
}

.carta {
  width: 90px;
}

.carta.selected {
  background-color: #82BC65;
  padding: 6px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.carta.unselected {
  background-color: #bbb;
  padding: 6px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.vincitore{
  color: green;
}
.sconfitto{
  color: red;
}
